/dist
/node_modules

/*.tsbuildinfo
/out-tsc

.env
.env.development
.env.production
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
logs
*.log

/coverage
/.nyc_output

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.DS_Store
Thumbs.db

*.db
*.sqlite

prisma/migrations/

src/shared/infrastructure/prisma/generated/